.navbar {
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px solid #ddd;
    background-color: white;
}

.logo {
    margin: 0;
    width: 250px;
    height: 180px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 250px;
    height: 180px;
    object-fit: contain;
    display: block;
}

.nav-links {
    display: flex;
    gap: 25px;
    margin-left: 40px;
}

.nav-links button {
    border: none;
    background: none;
    color: #e23d3b;
    cursor: pointer;
    font-size: 14px;
}

.nav-links button:hover {
    color: #e23d3b;
}