.paginacao {
    display: flex;
    align-items: center;
    gap: 4px;
}

.paginacao button {
    width: 24px;
    height: 24px;
    padding: 0;

    border: 1px solid #ead5d1;
    border-radius: 4px;

    background-color: #ffffff;
    color: #6d5b57;

    font-size: 11px;

    cursor: pointer;
}

.paginacao button:hover:not(:disabled) {
    background-color: #fffafa;
}

.paginacao button:disabled {
    color: #a79793;
    cursor: default;
    opacity: 0.6;
}

.paginacao .pagina-atual {
    background-color: #6d0000;
    border-color: #6d0000;
    color: #ffffff;
}